.search-container{
    display: flex;
    justify-content: center;
  }
  
  .input-search{
    font-size: 25px;
    width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.5);
  }