.Main-signup-container {
  display: flex;
  justify-content: center;
}
.Signup-head
{
    text-align: center;
    margin: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signup-container {
  margin-top: 20px;
  padding: 5px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px black;
  border: red double 5px;
}

.welcome-text {
  color: #ffbb33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.user-input {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: 2px rgb(27, 84, 56) solid;
}

.form-containerr {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-top: 2px;
}

.sign-up-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.sign-up-button {
  margin-top: 5px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: red double 2px;
  background-color: #ffcc00;
}
